*{
    font-family: 'Courier New', Courier, monospace;}
body{
    background-color: #202021;

}
.App {
    text-align: center;
}
.App p{
    margin: 0.4rem;
}
.App-logo{
    height: 40vmin;
}

@media (prefers-reduced-motion: no-preference){
    .App-logo{
        animation: App-logo-spin infinite 20s linear;
    }
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  table{
    margin: auto;
    width: 660px;
    background-color: #dee3dc;
    border: 1px solid black;
    padding-top: 15px;
    padding-bottom: 10px;
  }
  thead{
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    
  }
  th{
    border-top: 1px solid black;
    text-align: center;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 100;
    display: inline-block;
    }

thead{
    color:#202021;
    font-size: 22px;
    font-weight: bold;
    
}
input{
    width: 250px;
    height:20px;
}

.form{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
}

.btn-3{
    color: whitesmoke;
    background-color: #305c6b;
    border-radius: 15px;
    width: 80px;
    height: 25px;
    margin-left: 5px;
    cursor: pointer;
    font-variant: small-caps;
    font-size: 15px;
}
.todo{
    color:#202021;
    font-size: 17px;
    display:flow-root;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
  
}

.btn1{
    color:whitesmoke;
    background-color:#4e8c6e;
    border-radius: 10px;
    float:right;
    margin-right: 5px;
    font-size: 15px;
    height: 25px;
    font-variant: small-caps;
}
.btn2{
    color: whitesmoke;
    background-color: #282c34;
    border-radius: 10px;
    float: right;
    font-size: 15px; 
    margin-right: 5px;
    height: 25px;
    font-variant: small-caps;

}

#form{
    position: relative;
    text-align: center;
}
input{
    border-radius: 15px;
    cursor: pointer;
    background-color: #dee3dc;
}
input:active{
    cursor: text;
}

h1{
    text-align: center;
    color: #dee3dc;
    font-weight: 800px;
    letter-spacing: 2px;
}

  @keyframes App-logo-spin{
      from{
          transform: rotate(0deg);
      }
      to{
          transform: rotate(360deg);
      }
  }